/* entire container, keeps perspective */
.flip-container {
    perspective: 500px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    transition-delay: 2s;
}

.flip-container {
    width: auto;
    display: block;
}

/* flip speed goes here */
.flipper {
    max-width: 530px;
    transition: 0.6s;
    transition-delay: 0s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #CCC;
    height: 100%;
    position: absolute;
}

@media (min-width: 992px) {
    .flipper {
        max-width: none;
    }
}